@media (max-width: 576px) {
  .inpForm {
    display: none;
  }
}

@media (max-width: 576px){
  .topBannerContent {
    background-size: 100%!important;
  }
  .menLabeltop{
    font-size: 3rem!important;
    color: $mainThemeColor !important;
  }
  .menLabelbut{
    font-size: 2rem!important;
    color: $mainThemeColor!important;
  }
}


