@import "variables";
@import "media/mediaSM";

.logo {
  background: url("../img/logo.png") no-repeat;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
  line-height: 4rem;

  span {
    color: $mainThemeColor;
    font-weight: 700;
  }
}

.searchBrowse {
  button {
    border: 1.0px solid #e8e8e8;
    border-radius: 0.0px 3.0px 3.0px 0.0px;
    background-color: #f6f6f6;

    &:hover, &:active, &:focus {
      box-shadow: none !important;
    }

    i {
      color: #a4a4a4;
    }
  }

  .drMenuHeaderLeft {
    width: 262px !important;
    background-color: #ffffff !important;
    border-radius: 5.0px !important;
    transform: translate3d(15px, 36px, 0px) !important;

    .drMenuHeaderLeftLinkH {
      font-size: 14px;
      line-height: 28px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: #232323;
    }

    .drMenuHeaderLeftLink {
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #4f4f4f;
    }
  }

}

.drMyAccount {
  width: 262px !important;
  transform: translate3d(-56px, 51px, 0px) !important;

  img {
    width: 72px;
    height: 85px;
  }

  h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainTextColor;
  }

  .stars {
    svg {
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #e4af48;
    }
  }

  span {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: $mainThemeColor;
  }

  .dellProduct {
    svg {
      color: #c0c0c0 !important;
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -o-transition: all 1.5s;

      &:hover {
        color: $mainTextColor !important;
        transform: scale(1.4, 1.4);
      }
    }
  }
}

.buttMyAccount {
  width: 225px !important;
  height: 50px !important;
  border: 1.0px solid #f16d7f !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: #f16d7f !important;
  background-color: #FFFFFF !important;
  border-radius: 0 !important;

  &:hover {
    background-color: $mainThemeColor !important;
    color: #FFFFFF !important;
    border-radius: 0 !important;

  }
}


.rTop {
  a {
    text-decoration: none;
    color: $mainTextColor;
    -webkit-transition: all 1.1s;
    -moz-transition: all 1.1s;
    -o-transition: all 1.1s;

    &:hover {
      text-decoration: none;
      color: $mainTextColor;
      transform: scale(1.3, 1.3);
    }
  }

  .btn-group {
    button {
      background-color: #ef6375;
    }
  }
}

.headerLine {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.topNav {
  a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-decoration: none;
    color: $mainTextColor;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1.5rem;
    border-bottom: 4px solid #ffffff;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -o-transition: all 1.4s;

    &:hover {
      text-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
      text-decoration: none;
      color: $mainTextColor;
      border-bottom: 4px solid $mainThemeColor;
    }
  }
}

.topNavMobile {
  a {
    color: $mainThemeColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1.5rem;

    &:hover {
      text-shadow: 2px 4px 6px rgba(150, 150, 150, .4);
      text-decoration: none;
      color: $mainThemeColor;
    }
  }

  button {
    background-color: $mainThemeColor;
  }
}
