@charset "UTF-8";
@media (max-width: 576px) {
  .inpForm {
    display: none; } }
.logo {
  background: url("../img/logo.png") no-repeat;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
  line-height: 4rem; }
  .logo span {
    color: #f15068;
    font-weight: 700; }

.searchBrowse button {
  border: 1.0px solid #e8e8e8;
  border-radius: 0.0px 3.0px 3.0px 0.0px; }
  .searchBrowse button i {
    color: #a4a4a4; }

.rTop a {
  text-decoration: none;
  color: #222222; }
  .rTop a:hover {
    text-decoration: none;
    color: #222222; }
.rTop .btn-group button {
  background-color: #ef6375; }

.headerLine {
  border-bottom: 1px solid #ececec;
  width: 100%; }

.topNav a {
  display: flex;
  align-items: center;
  height: 2.5rem;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1.5rem;
  border-bottom: 4px solid #ffffff; }
  .topNav a:hover {
    text-shadow: 2px 4px 6px #969696;
    text-decoration: none;
    color: #222222;
    border-bottom: 4px solid #f15068; }

.topNavMobile a {
  color: #f15068;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1.5rem; }
  .topNavMobile a:hover {
    text-shadow: 2px 4px 6px rgba(150, 150, 150, 0.4);
    text-decoration: none;
    color: #f15068; }

@media (max-width: 576px) {
  .inpForm {
    display: none; } }
.futFon {
  height: 441px;
  background: url(../img/Layer%2041@1X.jpeg) no-repeat center 18%; }
  .futFon .futFonInfo {
    height: 441px; }
  .futFon .photoForm {
    font-size: 1rem; }
    .futFon .photoForm p {
      color: #222222;
      font-size: 1rem;
      text-align: justify;
      font-weight: 400; }
    .futFon .photoForm span {
      color: #f15068;
      font-size: 1rem;
      font-weight: 700; }
    .futFon .photoForm img {
      width: 84px;
      height: 84px;
      border-radius: 45px; }
  .futFon .rowBut {
    width: 40px;
    border-bottom: 4px solid #D6D6D6; }
    .futFon .rowBut:hover {
      border-bottom: 5px solid #f15068; }
  .futFon .rowActive {
    border-bottom: 5px solid #f15068; }

.formMail h2 {
  color: #222222;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700; }
.formMail .inpForm input {
  float: left;
  width: 260px;
  height: 47px;
  border: none;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding-left: 20px; }
.formMail .inpForm .subsBTN {
  height: 47px;
  width: 105px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 0.9rem;
  border: none;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px; }

.footerBut a {
  text-decoration: none;
  color: #898989;
  line-height: 2.5; }
  .footerBut a:hover {
    text-shadow: 2px 4px 6px #969696;
    text-decoration: none;
    color: #898989; }
.footerBut h2 {
  color: #f15068;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0; }
.footerBut .blockBrand {
  text-align: justify; }
  .footerBut .blockBrand p {
    color: #898989; }

.brandAllFooter {
  height: 80px;
  background-color: #E6E6E6; }
  .brandAllFooter .brandAll {
    color: #7A7A7A; }
  .brandAllFooter .messenge a {
    color: #222222; }
    .brandAllFooter .messenge a:hover {
      color: white;
      text-decoration: none; }
  .brandAllFooter .messenge i {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .brandAllFooter .messenge i:hover {
      color: white;
      text-decoration: none;
      background: #f15068; }

.topBanner {
  height: 615px;
  background: #e8e8e8; }

.topBannerContent {
  height: inherit;
  background-image: url(../img/topHeaderBack.png);
  background-position: right 8% top;
  /* Положение фона */
  background-repeat: no-repeat;
  background-size: 48%; }

.menLable {
  border-left: 14px solid #f15068;
  height: 94px;
  line-height: 40px; }

.menLabeltop {
  color: #222222;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

.menLabelbut {
  color: #222222;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px; }

.menLabelbut span {
  color: #f15068; }

.offer {
  position: relative; }

.offer > div {
  padding: 0 20px;
  background-color: #FFFFFF;
  position: absolute;
  top: 25px; }

.topOfferLabel {
  font-size: 1rem;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase; }

.offerLabel {
  font-size: 2rem;
  color: #f15068;
  font-weight: 700;
  text-transform: uppercase; }

.newsProd {
  background-color: #f8f3f3; }
  .newsProd .newsAr h2 {
    font-size: 24px;
    line-height: 20px;
    color: #f15068;
    font-weight: 700;
    text-transform: uppercase; }
  .newsProd .newsNav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    font-weight: 300; }
    .newsProd .newsNav .newsNavlink {
      text-decoration: none;
      text-transform: uppercase;
      color: #636363; }
      .newsProd .newsNav .newsNavlink:hover {
        color: #f15068;
        text-decoration: none; }
    .newsProd .newsNav .newsNavLinkActive {
      text-decoration: none;
      text-transform: uppercase;
      color: #f15068;
      font-weight: 700; }

.prodHeaders {
  font-size: 13px;
  font-weight: 700;
  color: #222222; }
  .prodHeaders .productDet img {
    width: 101px;
    height: 116px;
    display: block;
    object-position: center center;
    object-fit: cover; }
  .prodHeaders .ProdDetText h3 {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .prodHeaders .ProdDetText span {
    font-size: 13px;
    color: #222222; }
  .prodHeaders .ProdDetText mark {
    background: none;
    color: #575757; }
  .prodHeaders .ProdHeadInp input {
    width: 55px;
    height: 31px;
    text-align: center; }

.ccShoppingBut button {
  width: 236px;
  height: 51px;
  background-color: #FFFFFF;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #EAEAEA;
  font-weight: 700; }
  .ccShoppingBut button:hover {
    background-color: #f15068;
    color: #FFFFFF;
    box-shadow: 2px 4px 6px #969696; }

.FormUser form input {
  width: 356px;
  height: 46px;
  margin-top: 1rem;
  border: 2px solid #EAEAEA; }
.FormUser form button {
  margin-top: 1.5rem;
  width: 101px;
  height: 36px;
  background-color: #FFFFFF;
  color: #4A4A4A;
  border: 2px solid #EAEAEA;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700; }
  .FormUser form button:hover {
    background-color: #f15068;
    color: #FFFFFF;
    box-shadow: 2px 4px 6px #969696;
    border: none; }
.FormUser lable {
  text-transform: uppercase;
  font-weight: 700; }
.FormUser .FormUserGT span {
  font-size: 0.7rem; }
.FormUser .FormUserGT h5 span {
  color: #f15068;
  font-size: 1rem; }
.FormUser .FormUserGT form {
  width: 100%; }
  .FormUser .FormUserGT form button {
    width: 274px;
    height: 51px;
    background-color: #f15068;
    color: #FFFF;
    font-size: 1rem;
    border: none; }

/*# sourceMappingURL=styles.css.map */
