@import "variables";
@import "header";
@import "footer";
@import "media/mediaSM";

//---------------------index-------------------------------

.topBanner {
  height: 615px;
  background: #e8e8e8;

  .topBannerContent {
    height: inherit;
    background-image: url(../img/topHeaderBack.png);
    background-position: right 8% top;
    background-repeat: no-repeat;
    background-size: 48%;

    .menLable {
      border-left: 14px solid $mainThemeColor;
      height: 94px;
      line-height: 40px;

      .menLabeltop {
        color: $mainTextColor;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .menLabelbut {
        color: $mainTextColor;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 80px;

        .menLabelbut span {
          color: $mainThemeColor;
        }
      }
    }
  }
}


.offer {
  position: relative;

  & > div {
    padding: 0 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px;
  }

  .topOfferLabel {
    font-size: 1rem;
    color: $mainTextColor;
    font-weight: 700;
    text-transform: uppercase;
  }

  .offerLabel {
    font-size: 2rem;
    color: $mainThemeColor;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.FetItems {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $mainTextColor;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $mainTextColorP;
    text-align: center;
  }
}

.prodCard {
  position: relative;
  border: none;
  max-width: 261px;
  align-items: center;

  img {
    width: 261px;
    height: 280px;
    object-position: center center;
    object-fit: cover;
  }

  &:hover {
    .psevProdCard {
      display: flex;
    }
  }

  .psevProdCardBody {
    max-width: 261px;

    h3 {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $mainTextColor;
    }

    p {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $mainThemeColor;
    }
  }

  .psevProdCard {
    display: none;
    position: absolute;
    width: 261px;
    height: 280px;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 56, 56, 0.83);

    a {
      padding: .3rem;
      display: flex;
      align-items: center;
      width: 123px;
      height: 39px;
      text-decoration: none;
      border: 2px solid #ffffff;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
    }
  }

  &:hover {
    box-shadow: 0px 19px 14px -12px rgba(0, 0, 0, 0.38);
  }
}

.butBrowseAllProd {
  width: 212px;
  height: 48px;
  background-color: $mainThemeColor;
}

.buttBanBG {
  background-color: #222224;
  background-image: url(../img/banner.jpeg);
  background-repeat: no-repeat;

  .buttonBannerOffer {
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

    span {
      color: #f16d7f;
      font-weight: 700;
    }

    p {
      font-size: 32.2px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #ffffff;
    }
  }
  .buttonBannerText{
    background-color: #222224;
    position: relative;
    h4{
      width: 220px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: #fbfbfb;
    }
    p{
      width: 220px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: #fbfbfb;
    }
    img{
      position: absolute;
      left: 10%;
    }
  }
}

//---------------------shopping cart--------------------------------

.newsProd {
  background-color: #f8f3f3;

  .newsAr {
    h2 {
      font-size: 24px;
      line-height: 20px;
      color: $mainThemeColor;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .newsNav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: rgb(99, 99, 99);
    font-weight: 300;

    .newsNavlink {
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(99, 99, 99);

      &:hover {
        color: $mainThemeColor;
        text-decoration: none;
      }
    }

    .newsNavLinkActive {
      text-decoration: none;
      text-transform: uppercase;
      color: $mainThemeColor;
      font-weight: 700;
    }

  }

}

.prodHeaders {
  font-size: 13px;
  font-weight: 700;
  color: $mainTextColor;

  .productDet {
    img {
      width: 101px;
      height: 116px;
      display: block;
      object-position: center center;
      object-fit: cover;
    }
  }

  .ProdDetText {
    h3 {
      font-size: 13px;
      color: $mainTextColor;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    span {
      font-size: 13px;
      color: $mainTextColor;
    }

    mark {
      background: none;
      color: #575757;
    }
  }

  .ProdHeadInp {
    input {
      width: 55px;
      height: 31px;
      text-align: center;
    }
  }
}

.ccShoppingBut {
  button {
    width: 236px;
    height: 51px;
    background-color: #FFFFFF;
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #EAEAEA;
    font-weight: 700;

    &:hover {
      background-color: $mainThemeColor;
      color: #FFFFFF;
      box-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
    }
  }
}

.FormUser {
  form {
    input {
      width: 356px;
      height: 46px;
      margin-top: 1rem;
      border: 2px solid #EAEAEA;
    }

    button {
      margin-top: 1.5rem;
      width: 101px;
      height: 36px;
      background-color: #FFFFFF;
      color: #4A4A4A;
      border: 2px solid #EAEAEA;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 700;

      &:hover {
        background-color: $mainThemeColor;
        color: #FFFFFF;
        box-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
        border: none;
      }
    }
  }

  lable {
    text-transform: uppercase;
    font-weight: 700;
  }

  .FormUserGT {
    span {
      font-size: 0.7rem;
    }

    h5 span {
      color: $mainThemeColor;
      font-size: 1rem;
    }

    form {
      width: 100%;

      button {
        width: 274px;
        height: 51px;
        background-color: $mainThemeColor;
        color: #FFFF;
        font-size: 1rem;
        border: none;
      }
    }
  }

}

