@import "variables";
@import "header";
@import "footer";
@import "media/mediaSM";

//---------------------index-------------------------------

.topBanner {
  height: 615px;
  background: #e8e8e8;

  .topBannerContent {
    height: inherit;
    background-size: 48%;
    background: url(../img/topHeaderBack.png) no-repeat right 8% top, #e8e8e8;


    .menLabel {
      border-left: 14px solid $mainThemeColor;
      height: 94px;
      line-height: 40px;

      .menLabeltop {
        color: $mainTextColor;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .menLabelbut {
        color: $mainTextColor;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 80px;

        .menLabelbut span {
          color: $mainThemeColor;
        }
      }
    }
  }
}


.offer {
  position: relative;

  & > a {
    text-decoration: none;
    padding: 0 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px;
    &:hover{
      text-decoration: none;
    }
  }
  .offerText{
    .topOfferLabel {
      font-size: 1rem;
      color: $mainTextColor;
      font-weight: 700;
      text-transform: uppercase;
    }

    .offerLabel {
      font-size: 2rem;
      color: $mainThemeColor;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#spinner:hover, #spinner2:hover, #spinner3:hover, #spinner4:hover {

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;

  animation-name: spinner;  // указываем на ключевые кадры анимации с названием "spinner"
  animation-timing-function: linear; // функция синхронизации, с помощью которой будут происходить преобразования
  animation-iteration-count: infinite; // количество повторов анимации. "infinite" - значит бесконечно
  animation-duration: 6s; // длительность анимации

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; // указываем что это 3D преобразование
}

.FetItems {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $mainTextColor;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $mainTextColorP;
    text-align: center;
  }
}

.prodCard {
  position: relative;
  max-width: 261px!important;
  align-items: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  img {
    width: 261px;
    height: 280px;
    object-position: center center;
    object-fit: cover;
  }


  .psevProdCardBody {
    width: inherit;

    h3 {
      width: inherit;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $mainTextColor;
    }

    p {
      width: inherit;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $mainThemeColor;
      a{
        text-decoration: none;
        color: $mainThemeColor;
      }
    }
  }

  .psevProdCard {
    display: none;
    position: absolute;
    width: 261px;
    height: 280px;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 56, 56, 0.83);

    a {
      padding: .3rem;
      display: flex;
      align-items: center;
      width: 123px;
      height: 39px;
      text-decoration: none;
      border: 2px solid #ffffff;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
    }
  }

}

.butBrowseAllProd {
  width: 212px;
  height: 48px;
  background-color: $mainThemeColor;
}

.buttBanBG {
  background-color: #222224;
  background-image: url(../img/banner.jpeg);
  background-repeat: no-repeat;

  .buttonBannerOffer {
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

    span {
      color: #f16d7f;
      font-weight: 700;
    }

    p {
      font-size: 32.2px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #ffffff;
    }
  }

  .buttonBannerText {
    background-color: #222224;
    min-height: 525px;

    h4 {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      color: #fbfbfb;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: #fbfbfb;
    }

    img {
      width: 80px!important;
    }
  }
}

//---------------------shopping cart--------------------------------

.newsProd {
  background-color: #f8f3f3;

  .newsAr {
    h2 {
      font-size: 24px;
      line-height: 20px;
      color: $mainThemeColor;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .newsNav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: rgb(99, 99, 99);
    font-weight: 300;

    .newsNavlink {
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(99, 99, 99);

      &:hover {
        color: $mainThemeColor;
        text-decoration: none;
      }
    }

    .newsNavLinkActive {
      text-decoration: none;
      text-transform: uppercase;
      color: $mainThemeColor;
      font-weight: 700;
    }

  }

}

.prodHeaders {
  font-size: 13px;
  font-weight: 700;
  color: $mainTextColor;

  .productDet {
    img {
      width: 101px;
      height: 116px;
      display: block;
      object-position: center center;
      object-fit: cover;
    }
  }

  .ProdDetText {
    h3 {
      font-size: 13px;
      color: $mainTextColor;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    span {
      font-size: 13px;
      color: $mainTextColor;
    }

    mark {
      background: none;
      color: #575757;
    }
  }

  .ProdHeadInp {
    input {
      width: 55px;
      height: 31px;
      text-align: center;
    }
  }
}

.ccShoppingBut {
  button {
    width: 236px;
    height: 51px;
    background-color: #FFFFFF;
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #EAEAEA;
    font-weight: 700;

    &:hover {
      background-color: $mainThemeColor;
      color: #FFFFFF;
      box-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
    }
  }
}

.FormUser {
  form {
    input {
      width: 356px;
      height: 46px;
      margin-top: 1rem;
      border: 2px solid #EAEAEA;
    }

    button {
      margin-top: 1.5rem;
      width: 101px;
      height: 36px;
      background-color: #FFFFFF;
      color: #4A4A4A;
      border: 2px solid #EAEAEA;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 700;

      &:hover {
        background-color: $mainThemeColor;
        color: #FFFFFF;
        box-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
        border: none;
      }
    }
  }

  label {
    text-transform: uppercase;
    font-weight: 700;
  }

  .FormUserGT {
    span {
      font-size: 0.7rem;
    }

    h5 span {
      color: $mainThemeColor;
      font-size: 1rem;
    }

    form {
      width: 100%;

      button {
        width: 274px;
        height: 51px;
        background-color: $mainThemeColor;
        color: #FFFF;
        font-size: 1rem;
        border: none;
      }
    }
  }

}

//----------------------------------singlePage--------------------------------
.corusBlock {
  background-color: #f7f7f7;
  border: 1.0px solid #eaeaea;

  .carusRow {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14);
  }
}

.corImg {
  width: 597px;
  height: 724px;
  object-position: center center;
  object-fit: contain;
  border: none;
}

.productListContainer {
  position: relative;
}

.productList {
  position: absolute;
  top: -90px;
  height: 730px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;

  span {
    font-size: 14px;
    font-weight: 700;
    color: #f16d7f;

  }

  .plrow {
    width: 63px;
    height: 1px;
    background-color: #ef5b70;
  }

  .plrowActive {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
  }

  p {
    max-width: 618px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: $mainTextColorP;
  }

  .spansList {
    color: $mainTextColor;

    span {
      margin-left: 2px;
      margin-right: 2px;
      color: $mainThemeColor;
    }
  }

  .money {
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
  }

  .lineList {
    max-width: 642px;
    height: 1px;
    background-color: $mainThemeColor;
  }

  .inpList {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;

    input {
      max-width: 144px;
      height: 35px;
      border: 1.0px solid #eaeaea;
    }
  }

  .ButList button {
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1.0px solid #ef5b70;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;

    &:hover {
      background-color: $mainThemeColor;
      color: #ffffff;
    }
  }

}

.labelText {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}


//---------------------------Product_____-----------------

.sidenav {
  a {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: .5rem;
    font-weight: 400;
    color: #6f6e6e;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $mainThemeColor;
      text-decoration: none;
    }
  }

  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    margin-bottom: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #6f6e6e;
    display: block;
    border: none;
    border-left: 5px solid $mainThemeColor;
    border-bottom: 1px solid $mainTextColorP;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $mainThemeColor;
      text-decoration: none;
    }
  }

  .dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
}
.breadcrumb-item::before{
  content: "|"!important;
}


.inpScroll {
  width: 260px;
}

.rightProduct {
  label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
  }

  .labelSize {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
  }

  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius: 10px;
    height: 5px;
    width: 260px;
    border: 1px solid #000;
    background-color: $mainThemeColor;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $mainThemeColor;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -5px;
  }

  .breadcrumb {
    a {
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #6f6e6e;
    }
  }

  .active {
    color: $mainThemeColor;
  }

}


.sortProd {
  height: 50px;
  background-color: #f3f3f3;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;

  .input-group {
    background-color: #ffffff;
    border: 1.0px solid #ebebeb;

    .input-group-prepend {
      height: 30px;
      button{
        border: none;
        color: $mainTextColor;
      }
    }

    .custom-select {
      height: 30px;
    }
  }
}

.paginationProduct {
  button {
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1.0px solid $mainThemeColor;
    border-radius: 3.0px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #ef5b70;

    &:hover {
      background-color: $mainThemeColor;
      color: #ffffff;
    }
  }

  .pagination {
    a {
      text-decoration: none;
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      color: #c4c4c4;

      &:hover {
        color: $mainThemeColor;
        font-weight: 700;
      }
    }

    .page-linkActive {
      color: #ef5b70;
      font-weight: 400;
    }
  }
}

.buttBanBGProduct {
  background-color: #222224;

  .buttonBannerText {
    min-height: 340px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;

    h4 {
      margin-top: 2rem;
    }

    p {
      margin-top: .5rem;
      padding: .5rem;
    }
  }
}